includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Undefined variable#'
        - '#Call to an undefined method Pest\\Mixins\\Expectation#'
        - '#Call to an undefined method Pest\\Expectation#'

    checkMissingIterableValueType: false